certifi==2017.4.17
chardet==3.0.3
click==6.7
decorator==4.0.11
Django==1.11.2
geocoder==1.22.6
geopy==1.11.0
github3.py==0.9.6
gTTS==1.2.0
gTTS-token==1.1.1
idna==2.5
oauthlib==2.0.2
PyAudio==0.2.11
pygame==1.9.3
pyglet==1.2.4
pyowm==2.6.1
python-vlc==1.1.2
pyttsx==1.1
pytz==2017.2
ratelim==0.1.6
requests==2.17.3
requests-oauthlib==0.8.0
six==1.10.0
SpeechRecognition==3.6.5
tweepy==3.5.0
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.21.1
virtualenv==15.1.0
